<!doctype html>
<html>
    <head>
        <meta charset='utf-8'/>
        <title class='title'></title>
        <link rel='stylesheet' href='index.css'/>
        <link rel='icon' type='image/svg+xml' href='favicon.svg'/>
        <script type='module' src='index.js'></script>
    </head>
    <body>
        <header id='menu'></header>
        <main class='frontpage'>

            <div class="card">

                <div class="card__front">
                    <div class="card__heading">
                        <h2>AMRAP 12</h2>
                        <img src="">
                    </div>                
                    <table>
                        <tr>
                            <th>
                                Exercises                            
                            </th>
                            <th>
                                Reps
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Plank Hip Dip
                            </td>
                            <td>
                                10
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Sit Up Get Up
                            </td>
                            <td>
                                10
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Windshield Wiper
                            </td>
                            <td>
                                10
                            </td>
                        </tr>                    
                    </table>
                    <div class="card__footer">
                        <img src="" alt="Instagram logo">
                        <p>#PiefitSomething</p>
                    </div>
                </div>

                <div class="card__back">
                    <div>
                        <div class="card__heading">
                            <h2>Benchmark</h2>
                            <p>Beginner - Warm Up - Finisher</p>
                        </div>                        
                        <img src="">
                    </div>                
                    <table>
                        <tr>
                            <th>
                                Level                            
                            </th>
                            <th>
                                Rounds
                            </th>
                        </tr>
                        <tr>
                            <td>
                                Beginner
                            </td>
                            <td>
                                3
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Intermediate
                            </td>
                            <td>
                                4
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Advanced
                            </td>
                            <td>
                                5
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Elite
                            </td>
                            <td>
                                6
                            </td>
                        </tr>                     
                    </table>
                    <div class="card__footer">
                        <h3>Difficulty Level</h3>
                        <img src="">
                    </div>
                </div>

            </div>            

        </main>
        <footer>
            <article id="cpryear"></article>
        </footer>
    </body>
</html>
